body{
    margin: 0;
    padding: 0;
    background-color: #323232;
    font-family: "DM Mono", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "DM Mono", sans-serif;
}
p{
    font-family: "Urbanist", sans-serif;
}
nav{
    background-color: #272730;
    box-shadow: 6px 7px 10px 4px rgba(228, 225, 225, 0.1);
}
a:hover{
    color: #fff !important;
}
section{
    color: #fff;
}
.skill-container{
    height: 55px;
    width: 50px;
}
@keyframes skills{
    from{
        
    }
    to{

    }
}
